p {
  text-align: center;

}

h2 {
  text-align: center;
}

body {
  background-color: #0c6ba1
}

input {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.30);
  border-radius: 200px;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.80);
  border-radius: 17px;
}

button {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.50);
  border-radius: 15px;  
}

button:hover {
    background-color: #83c635;
    font-size: 15px;
}